h1 {
  color: #4d04d4;
  margin-bottom: 15px;
 
}

table {
  border-collapse: collapse;
  font-size: 16px;
  background: #fff;
  overflow: hidden;
}

thead {
  background: #007bff;
  color: #fff;
}

th,
td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #ddd;
}
img{
    width: 20px;
    height: 20px;
}
